<h1> Inventories </h1>

<div>
  <%= link_to "New inventory", new_inventory_path, class: "btn btn-primary" %>
</div>
<hr>

<% @inventories.each do |inventory| %>
<<<<<<< .merge_file_S50CJs
  <div class="inventory-card card p-3" <%= 'owned' if inventory.user == current_user %>">
    
=======
  <div class="inventory-card card p-3" <%= 'owned' if inventory.user == current_user %> >
    <%= link_to inventory, class: "inventory-link" do %>
>>>>>>> .merge_file_I2RHcO
      <%= render partial: 'shared/inventory', locals: { inventory: inventory } %>
    
      <%= button_to "Remove", inventory_path(inventory), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary btn-sm", remote: true %>
  </div>
<% end %>
<<<<<<< .merge_file_S50CJs
=======

<div class="d-flex justify-content-end">
  <%= link_to "New inventory", new_inventory_path, class: "btn btn-primary" %>
</div>
>>>>>>> .merge_file_I2RHcO
